<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pharma Price Comparisons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <input type="text" id="drug" autofocus="autofocus" placeholder="Search by number, name, or keyword" size=60>
      <a href='' onclick="this.href='/?q='+document.getElementById('drug').value">
        <button type="button" id="query">Query</button>
      </a>
      <h1 style="color: white;">{{ drug }}</h1>
      {{ table }}
  </body>
  <script>
    document.getElementById("drug").addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("query").click();
      }
    });
  </script>
</html>
